/*
#00A0B0 celeste
#6A4A3C marron
#CC333F salmon
#EB6841 naranja
#EDC951 amarillo-naranja
*/
/* reseteo universal */
* {
	border:0;
	margin: 0;
	padding: 0;
}
article,  figure, footer, header, nav, section {
	display: block;
}
/* estilos del sitio */
@font-face {
	font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	background: #212121 url(../img/fondo.jpg);
	color: #EB6841;
	font-family: "Roboto-Regular", Helvetica, Verdana;
	font-size: 1em;
}
a{
	color: #00A0B0;
	font-weight: bold;
	text-decoration: none;
}
a:hover{
	color: #EDC951;
}

figure, nav{
	display: inline-block;
}
#cont_buscar{
	font-size: 1.3em;
	margin:1em 1em;
	text-align: center;
}
nav{
	float: right;
	margin: 1em 1.2em;
	vertical-align: top;
	width: 9%;
}
#img_logo{
	border-radius: 0.5em 0.5em;
	height: 50px;
	margin: .5em;
	text-align: center;
	width: 50px;
}
#img_contacto{
	margin-left: .1em;
	height: 40px;
	width: 40px;
}
header, section#contenido, section#historial, footer{
	margin: 0 auto;
	max-width: 98%;
}
header{
	border-bottom: 2px solid #6A4A3C;
}
footer{
	border-top: 2px solid #6A4A3C;
	font-size: 1.2em;
	height: 25px;
	text-align: center;
}
article{
 	padding: .25em  .1em;
}
.img_libro{
	display: inline-block;
	border-radius: 0.5em 0.5em;
	width: 20%;
}
input[type="text"],input[type="email"],textarea{
	background: #EDC951;
	border-radius: .25em;
	color: #EB6841;
	font-family: "Roboto-Regular", Helvetica, Verdana;
	font-size: 1.1em;
	margin-top: .6em;
	padding: .25em;
	width: 90%;
}
input[type="button"],input[type="submit"]{
	background: #6A4A3C;
	border-radius: .25em;
	color: #EDC951;
	display: block;
	font-size: 1.2em;
	margin: 1em auto;
	margin-top: 1em;
	padding: .25em;
	width: 93%;
}
label{
	cursor: pointer;
	font-weight: bold;
	margin: .5em;
	vertical-align: top;
}
legend{
	color: #EB6841;
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: .75em;
	text-shadow: 3px 3px 0px #6A4A3C;
}
.cont_desc_libro{
	display: inline-block;
	margin: 0em .5em;
	vertical-align: top;
	width: 73%;
}
#titulo{
	text-shadow: 3px 3px 0px #6A4A3C;
	font-weight: bold;
	color: #CC333F; 
	font-size: 1.5em;
	display: inline-block;
	margin: 1em .1em 1em .1em;
	vertical-align: top;
	width: 50%;
}
section#contacto,section#map,section#form{
	border-radius: .5em;
	margin: 0 auto;
	padding: .1em;
	text-align: center;
}
span.datos-contacto{
	color:#EDC951 ;
	margin-left: .75em;
}
section#contacto{
	font-size: 1.2em;
	margin-bottom: 1em;
}
section#map,section#form{
	margin: 1em 0em 1em 0em;
}
section#historial{
	border: solid #6A4A3C;
	border-radius: 0.5em 0.5em;
	padding: 1em 1em 1em 1em;
	margin-bottom: 1em;
}
.ocultar_art{
	display: none;
}
textarea{
	font-family: "Roboto-Regular", Helvetica, Verdana;
	font-size: 1.1em;
	height: 80px;
	resize: none;
}
.compartir{
	width: 100% !important;
}
.deslizante{
	color:green;
	font-weight: bold;
	font-size: 1em;
	margin: 0em 1em;
	padding: .5em;
	text-align: center;
}
/*
#00A0B0 celeste
#6A4A3C marron
#CC333F salmon
#EB6841 naranja
#EDC951 amarillo-naranja
*/



/*Medias*/
/*
@media screen and (min-width: 1081px){
	header h1{
		text-align: left;
		width: 35%;
	}
	nav{
		text-align: right;
		width: 60%;
	}
}
@media screen and (max-width: 1080px){
	nav li{
		font-size: 1.3em;
	}
	article#galeria-inicio{

		width: 90%;
	}
	aside{
		width: 20%;
	}
	article#descripcion-acerca, article#multimedia-acerca, #img-servicios, article#nuestros-servicios{
		width: 45%;
	}
	article#servicio1, article#servicio2, article#servicio3{
		width: 30%;
	}
	section#trabajos{
		max-width: 90%;
	}
	div.portafolio article{
		padding: .5em;
	}
	form{
		width: 95%;
	}
}
@media screen and (max-width: 800px){
	nav li{
		font-size: 0.95em;
	}
	article#galeria-inicio{
		width: 88%;
	}
	#img-servicios, article#nuestros-servicios, article#servicio1{
		display: block;
		margin:0 0 .25em 0;
		width: 95%;
	}
	#img-servicios{
		width: 98%;
	}
	article#servicio2,article#servicio3{
		width: 45%;
	}
	section#trabajos{
		width: 95%;
	}
	div.portafolio article{
		padding: 2em;
	}
	section#contacto, section#articulo{
		display: block;
		width: 95%;
	}
	section#contacto{
		margin-bottom: .2em;
	}
	form{
		width: 100%;
	}
}
@media screen and (max-width: 600px){
	figure{
		display: inline-block;
		width: 15%;
		height: 15%;
	}
	#titulo{
		display: inline-block;
		margin: 1.25em 1em;
		vertical-align: top;
		width: 50%;
	}

	nav li{
		display: inline-block;
		margin: 0;
		width: 98%;
	}
	section#principal, article#descripcion-acerca, article#servicio2{
		margin-bottom:0.2em;
	}
	section#principal, aside, article#descripcion-acerca, article#multimedia-acerca,article#servicio2, article#servicio3 {
		display: block;
		width: 95%; 
	}
	#img-servicios{
		display: none;
	}
	div.portafolio article{
		display: block;
		margin: .5em auto;
		padding: 0;
	}
}*/